[data-id = "슈퍼챗"], [data-id = "치즈"], [data-id = "비트"], [data-id = "별풍선"], [data-id = "젬"], [data-id = "비트"], [data-id = "빔"] {
    display: none;
}

@font-face {
    font-family: 'SchoolSafetyNotification';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimAllimjangTTF-R.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'SchoolSafetyNotification';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimAllimjangTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}


@property --weflab-font-size {
    syntax: "<length>";
    inherits: true;
    initial-value: 16px;
}

/* =============================================
    general
============================================= */
html {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
}

p {
    color: var(--text) !important;
    font-family: 'SchoolSafetyNotification', Courier, monospace !important;
    font-weight: 400 !important;
    position: relative;
    margin: 0 !important;
    line-height: 1.2 !important;
    z-index: 999;
    text-shadow: var(--text) !important;
    letter-spacing: -0.8px !important;
    text-align: center !important;
}

.chat_area {
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(0.98, #000), to(transparent));
}

.chat_box {
    margin: 0 auto !important;
    margin-bottom: 20px !important;
}

.chat_box.chat * {
    box-sizing: border-box !important;
}

.icon_badge {
    display: none !important;
}

.icon_chzzk {
    display: none !important;
}

/* =============================================
    donation reset
============================================= */
.chat_box.image .donation_box,
.chat_box.image .text_box,
.chat_box.image .msg_box,
.chat_box.image .nick,
.chat_box.image .msg,
.chat_box.image .val {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent !important;
}

.chat_box.image .donation_box .inner_box {
    margin: 0 !important;
    padding: 0 !important;
    background: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
}

.chat_box.image,
.chat_box.image .inner_box,
.chat_box.image .donation_box,
.chat_box.image .text_box,
.chat_box.image .msg_box {
    overflow: visible;
}

.chat_box.image .donation_box::before,
.chat_box.image .donation_box::after,
.chat_box.image .donation_box.subscribe::before {
    content: none;
}

.chat_box.image .donation_box.subscribe::before {
    display: none !important;
}

.chat_box.image .nick {
    display: none !important;
}

/* =========================================
    display order
========================================= */
.chat_box.image .donation_box {
    position: relative;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
}

.chat_box.image .donation_box > .text_box,
.chat_box.image .donation_box > .msg_box {
    display: contents !important;
}

.chat_box.image .donation_box > .text_box > *,
.chat_box.image .donation_box > .msg_box > * {
    order: 0 !important;
}

.chat_box.image .donation_box > .text_box > .nick {
    order: 10 !important;
}

.chat_box.image:not(.subscribe)
.donation_box > .text_box > .msg {
    order: 30 !important;
}

.chat_box.image:not(.subscribe) .donation_box > .msg_box > .val,
.chat_box.image.subscribe .donation_box.subscribe > .text_box > .msg {
    padding: 0 !important;
    margin: 0 !important;
    order: 20 !important;
}

.chat_box.image.subscribe
.donation_box.subscribe > .msg_box > .msg {
    padding: 0 !important;
    margin: 0 !important;
    order: 30 !important;
}

/* =============================================
    tokens
============================================= */
:root {
    --char: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='cat-fan-character' xmlns='http://www.w3.org/2000/svg' viewBox='-16 -24 200.25 232.97' width='200.25' height='232.97' overflow='visible'%3E%3Cdefs%3E%3Cstyle%3E .outline %7B fill: none%3B stroke: %23483941%3B stroke-width: 20%3B stroke-linejoin: round%3B stroke-linecap: round%3B %7D .fur %7B fill: %23d7c7c8%3B %7D .white %7B fill: %23ffffff%3B %7D .dark %7B fill: %233d1e1b%3B %7D .eye-color %7B fill: %23dc5c6a%3B %7D .eye-bottom %7B fill: %23fac2c8%3B %7D .eye-open %7B opacity: 1%3B animation: eyeOpenBlink 5.2s infinite%3B %7D .eye-closed %7B opacity: 0%3B animation: eyeClosedBlink 5.2s infinite%3B %7D %40keyframes eyeOpenBlink %7B 0%25, 43%25, 49%25, 91%25, 97%25, 100%25 %7B opacity: 1%3B %7D 45.5%25, 46.5%25, 93.5%25, 94.5%25 %7B opacity: 0%3B %7D %7D %40keyframes eyeClosedBlink %7B 0%25, 43%25, 49%25, 91%25, 97%25, 100%25 %7B opacity: 0%3B %7D 45.5%25, 46.5%25, 93.5%25, 94.5%25 %7B opacity: 1%3B %7D %7D %3C/style%3E%3Cpath id='ear-right-outer' d='M88.44,59.96S130.9,-10.53,142.46,1.35c11.56,11.88,18.85,74.77,5.23,95.29l-59.25-36.67Z'/%3E%3Cpath id='ear-left-outer' d='M79.81,59.96S37.35,-10.53,25.79,1.35c-11.56,11.88-18.85,74.77-5.23,95.29l59.25-36.67Z'/%3E%3Cpath id='head-outer' d='M167.82,143.35l-9.14-15.06c-.17-.28-.25-.6-.25-.93,1.85-90.35-74.31-78.55-74.31-78.55,0,0-76.15-11.8-74.31,78.55,0,.33-.08,.65-.25,.93L.43,143.35c-.65,1.08-.56,2.44,.24,3.41,2.05,2.49,6.18,6.97,9.82,7.54,.34,.05,.5,.44,.31,.72-.41,.6-1.03,1.5-1.52,2.22-.44,.64-.26,1.51,.4,1.91,7,4.27,43.38,25.16,74.44,18.03,31.06,7.12,67.44-13.76,74.44-18.03,.66-.4,.84-1.27,.4-1.91-.5-.72-1.11-1.62-1.53-2.22-.19-.28-.03-.67,.31-.72,3.65-.57,7.77-5.05,9.83-7.54,.8-.97,.89-2.34,.24-3.41'/%3E%3CclipPath id='body-clip'%3E%3Cpath d='M84.12,48.82S7.97,37.03,9.82,127.37c0,.33-.08,.65-.25,.93L.43,143.35c-.65,1.08-.56,2.44,.24,3.41,2.05,2.49,6.18,6.97,9.83,7.54,.34,.05,.5,.44,.31,.72-.41,.6-1.03,1.5-1.52,2.22-.44,.64-.26,1.5,.4,1.91,7,4.27,43.38,25.16,74.44,18.03,31.06,7.12,67.44-13.76,74.44-18.03,.66-.4,.84-1.27,.4-1.91-.49-.72-1.11-1.62-1.52-2.22-.19-.28-.03-.67,.3-.72,3.65-.57,7.77-5.05,9.82-7.54,.8-.97,.89-2.34,.24-3.41l-9.14-15.06c-.17-.28-.25-.6-.25-.93,1.46-71.64-46.11-79.05-65.88-79.05-5.16,0-8.43,.51-8.43,.51'/%3E%3C/clipPath%3E%3CclipPath id='right-eye-clip'%3E%3Cpath d='M100.61,131.55c0,10.78,8.35,19.53,18.65,19.53s18.65-8.74,18.65-19.53-8.35-19.53-18.65-19.53-18.65,8.74-18.65,19.53'/%3E%3C/clipPath%3E%3CclipPath id='left-eye-clip'%3E%3Cpath d='M30.33,131.55c0,10.78,8.35,19.53,18.65,19.53s18.65-8.74,18.65-19.53-8.35-19.53-18.65-19.53-18.65,8.74-18.65,19.53'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg%3E%3Cuse href='%23ear-right-outer' class='outline'/%3E%3Cuse href='%23ear-left-outer' class='outline'/%3E%3Cuse href='%23head-outer' class='outline'/%3E%3C/g%3E%3Cuse href='%23ear-right-outer' class='fur'/%3E%3Cpath class='white' d='M105.5,51.64c8.83-13.43,17.87-25.5,24.77-33.19,3.14-3.5,8.89-2.11,10.1,2.43,1.72,6.42,3.34,15.08,4.18,25.67,.76,9.67,.68,18.76-.15,26.37-.47,4.32-5.28,6.66-8.97,4.38l-28.1-17.39c-2.82-1.75-3.65-5.48-1.83-8.25M140.12,9.9h0'/%3E%3Cuse href='%23ear-left-outer' class='fur'/%3E%3Cpath class='white' d='M32.82,77.29c-3.69,2.29-8.5-.06-8.97-4.38-.83-7.61-.91-16.7-.15-26.37,.84-10.59,2.46-19.25,4.17-25.67,1.22-4.54,6.96-5.93,10.1-2.43,6.91,7.69,15.95,19.76,24.78,33.19,1.82,2.77,.99,6.51-1.83,8.25l-28.1,17.39Z'/%3E%3Cuse href='%23head-outer' class='fur'/%3E%3Cg clip-path='url(%23body-clip)'%3E%3Cpath class='white' d='M123.2,156.95l-8.84-9.31c-2.19-2.31-3.62-5.24-4.11-8.38-9.17-58.51-23.39-63.02-25.93-63.36v-.03s-.07,0-.2,0c-.13-.01-.2,0-.2,0v.03c-2.54,.33-16.76,4.85-25.93,63.36-.49,3.15-1.92,6.07-4.11,8.38l-8.84,9.31c-2.19,2.3-2.38,5.85-.46,8.37,5.24,6.86,17.47,19.58,39.33,25.53v.11c.07-.02,.13-.04,.2-.06,.07,.02,.13,.04,.2,.06v-.11c21.86-5.95,34.09-18.67,39.33-25.53,1.93-2.52,1.73-6.07-.46-8.37'/%3E%3C/g%3E%3Cpath class='dark' d='M81.58,147.29l1.76,1.76c.44,.44,1.14,.44,1.58,0l1.76-1.76c.7-.7,.21-1.9-.79-1.9h-3.52c-.99,0-1.49,1.2-.79,1.9'/%3E%3Cpath class='dark' d='M70.92,153.34c1.82,2.59,5.53,3.01,8.35,1.98,2.9-1.06,5.05-3.61,5.58-6.65,.17-.94-1.28-1.35-1.45-.4-.43,2.44-2.01,4.58-4.33,5.53-2.13,.87-5.38,.87-6.85-1.21-.55-.78-1.85-.03-1.29,.76'/%3E%3Cpath class='dark' d='M96.03,152.59c-1.47,2.08-4.72,2.08-6.85,1.21-2.32-.95-3.9-3.08-4.33-5.53-.17-.95-1.61-.55-1.45,.4,.53,3.04,2.68,5.59,5.58,6.65,2.81,1.03,6.52,.62,8.35-1.98,.56-.79-.74-1.54-1.29-.76'/%3E%3Cg%3E%3Cg class='eye-open'%3E%3Cpath class='dark' d='M99.66,123.63s5.46-17.58,28.63-16.51c0,0,9.86,.12,14.26-2.49,0,0,.83,3.21-1.54,6.3,0,0,11.29,5.11,9.98,18.18-1.31,13.07-9.15,15.33-9.15,15.33,0,0,7.37-6.06,2.38-19.9-4.99-13.84-28.99-18.24-44.55-.89'/%3E%3Cpath class='white' d='M147.69,131.55c0,10.94-10.54,19.8-23.54,19.8s-23.54-8.87-23.54-19.8,10.54-19.8,23.54-19.8,23.54,8.87,23.54,19.8'/%3E%3Cpath class='eye-color' d='M137.92,131.55c0,10.78-8.35,19.53-18.65,19.53s-18.65-8.74-18.65-19.53,8.35-19.53,18.65-19.53,18.65,8.74,18.65,19.53'/%3E%3Cg clip-path='url(%23right-eye-clip)'%3E%3Cpath class='eye-bottom' d='M137.92,142.69c0,6.16-8.35,11.15-18.65,11.15s-18.65-4.99-18.65-11.15,8.35-11.15,18.65-11.15,18.65,4.99,18.65,11.15'/%3E%3C/g%3E%3Cpath class='white' d='M131.62,129.99l.26,1.5c.04,.21,.2,.37,.41,.4l1.5,.22c.46,.07,.57,.69,.16,.91l-1.34,.71c-.19,.1-.29,.3-.25,.51l.26,1.49c.08,.46-.48,.76-.81,.43l-1.09-1.06c-.15-.15-.38-.18-.56-.08l-1.34,.71c-.41,.22-.87-.22-.66-.64l.67-1.36c.09-.19,.05-.41-.1-.56l-1.09-1.06c-.34-.33-.06-.89,.4-.83l1.5,.22c.21,.03,.41-.08,.5-.27l.67-1.36c.21-.42,.83-.33,.91,.13'/%3E%3C/g%3E%3Cg class='eye-closed'%3E%3Cpath class='dark' d=' M99.6,131.1 C105.1,134.9 111.8,136.9 119.0,137.0 C125.6,137.1 131.6,135.5 136.2,132.5 C138.9,130.7 141.0,128.5 142.8,125.8 C143.5,124.8 144.5,124.2 145.7,123.8 C146.7,123.5 147.4,123.4 148.1,123.3 C148.8,123.2 149.2,124.0 148.7,124.5 C147.4,125.7 146.7,127.1 146.5,128.6 C148.4,128.7 150.0,128.4 151.3,128.0 C152.1,127.8 152.6,128.8 152.0,129.4 C150.6,130.8 148.7,131.8 146.3,132.1 C147.9,132.9 149.5,133.3 151.2,133.4 C152.0,133.4 152.2,134.5 151.4,134.9 C149.2,136.0 146.2,136.3 142.6,135.6 C136.7,139.2 128.8,141.0 119.4,140.9 C110.6,140.8 103.2,138.6 98.0,134.8 C96.9,134.0 96.0,133.0 95.4,131.9 C95.0,131.2 95.7,130.4 96.5,130.5 C97.8,130.6 98.8,130.8 99.6,131.1 Z '/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg class='eye-open'%3E%3Cpath class='dark' d='M68.58,123.63s-5.47-17.58-28.63-16.51c0,0-9.86,.12-14.26-2.49,0,0-.83,3.21,1.54,6.3,0,0-11.29,5.11-9.98,18.18,1.31,13.07,9.15,15.33,9.15,15.33,0,0-7.37-6.06-2.38-19.9,4.99-13.84,28.99-18.24,44.55-.89'/%3E%3Cpath class='white' d='M20.56,131.55c0,10.94,10.54,19.8,23.54,19.8s23.54-8.87,23.54-19.8-10.54-19.8-23.54-19.8-23.54,8.87-23.54,19.8'/%3E%3Cpath class='eye-color' d='M30.33,131.55c0,10.78,8.35,19.53,18.65,19.53s18.65-8.74,18.65-19.53-8.35-19.53-18.65-19.53-18.65,8.74-18.65,19.53'/%3E%3Cg clip-path='url(%23left-eye-clip)'%3E%3Cpath class='eye-bottom' d='M30.33,142.69c0,6.16,8.35,11.15,18.65,11.15s18.65-4.99,18.65-11.15-8.35-11.15-18.65-11.15-18.65,4.99-18.65,11.15'/%3E%3C/g%3E%3Cpath class='white' d='M36.63,129.99l-.26,1.5c-.04,.21-.2,.37-.41,.4l-1.5,.22c-.46,.07-.57,.69-.16,.91l1.34,.71c.19,.1,.29,.3,.25,.51l-.26,1.49c-.08,.46,.48,.76,.81,.43l1.09-1.06c.15-.15,.38-.18,.56-.08l1.34,.71c.41,.22,.87-.22,.66-.64l-.67-1.36c-.09-.19-.05-.41,.1-.56l1.09-1.06c.34-.33,.06-.89-.4-.83l-1.5,.22c-.21,.03-.41-.08-.5-.27l-.67-1.36c-.21-.42-.83-.33-.91,.13'/%3E%3C/g%3E%3Cg class='eye-closed'%3E%3Cpath class='dark' d=' M68.6,131.1 C63.1,134.9 56.4,136.9 49.2,137.0 C42.6,137.1 36.6,135.5 32.0,132.5 C29.3,130.7 27.2,128.5 25.4,125.8 C24.7,124.8 23.7,124.2 22.5,123.8 C21.5,123.5 20.8,123.4 20.1,123.3 C19.4,123.2 19.0,124.0 19.5,124.5 C20.8,125.7 21.5,127.1 21.7,128.6 C19.8,128.7 18.2,128.4 16.9,128.0 C16.1,127.8 15.6,128.8 16.2,129.4 C17.6,130.8 19.5,131.8 21.9,132.1 C20.3,132.9 18.7,133.3 17.0,133.4 C16.2,133.4 16.0,134.5 16.8,134.9 C19.0,136.0 22.0,136.3 25.6,135.6 C31.5,139.2 39.4,141.0 48.8,140.9 C57.6,140.8 65.0,138.6 70.2,134.8 C71.3,134.0 72.2,133.0 72.8,131.9 C73.2,131.2 72.5,130.4 71.7,130.5 C70.4,130.6 69.4,130.8 68.6,131.1 Z '/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --border: 2px solid #483941;
}

.chat_box.chat:not(.streamer):not(.subscribe) {
    --wing-L: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-10 -10 228.371 173.981' width='228.371' height='173.981' shape-rendering='geometricPrecision'%3E%3Cg transform='translate(208.371 0) scale(-1 1)'%3E%3Cg transform='translate(794.961 -411.729)'%3E%3Cpath d='M -734.00586 415.74023 C -742.94891 415.55826 -751.80398 417.69266 -759.74023 421.91016 L -767.83008 426.21094 L -767.82031 426.2207 C -768.54031 426.3907 -768.65945 427.49992 -767.93945 427.66992 C -765.64945 428.18992 -763.47063 428.40023 -761.39062 428.49023 C -752.49063 428.89023 -745.13961 435.77992 -744.59961 444.66992 C -742.00961 486.90992 -790.96094 501.81055 -790.96094 501.81055 L -787.2793 514.96094 C -765.1393 509.62094 -746.38078 518.67984 -746.05078 518.83984 C -719.66078 536.85984 -710.50977 561.71094 -710.50977 561.71094 C -724.12977 453.51094 -648.73047 502.15039 -648.73047 502.15039 C -666.47047 445.75039 -590.58984 472.36914 -590.58984 472.36914 C -593.96984 470.16914 -597.30914 468.05953 -600.61914 466.01953 C -638.18852 447.58641 -670.80423 436.86737 -696.44727 430.64258 C -701.87648 429.32465 -706.96884 428.22094 -711.75391 427.27539 C -706.97078 428.21991 -701.87434 429.32594 -696.44727 430.64258 C -670.8029 436.86403 -638.18522 447.57792 -600.60938 466.01953 C -655.53937 424.73953 -704.72992 418.38094 -730.16992 415.96094 C -731.44867 415.83969 -732.72828 415.76623 -734.00586 415.74023 z M -742.49805 422.7793 C -739.62292 423.03162 -736.3527 423.37786 -732.73828 423.83789 C -736.35147 423.37786 -739.62332 423.03145 -742.49805 422.7793 z M -742.64062 422.82031 C -741.95933 424.32756 -741.31905 425.87654 -740.73438 427.46289 C -741.31944 425.87673 -741.95865 424.32764 -742.64062 422.82031 z M -737.18555 443.51562 C -737.13953 444.15198 -737.09115 444.78654 -737.06836 445.42969 C -737.00398 447.24655 -737.03534 449.09041 -737.17188 450.95703 C -737.24015 451.89039 -737.3342 452.82888 -737.45703 453.77344 C -737.94872 457.55437 -738.88767 461.42234 -740.36914 465.34961 C -740.90911 466.7814 -741.4842 468.14876 -742.07422 469.48633 C -741.49363 468.12352 -740.90776 466.76848 -740.36914 465.33984 C -738.88914 461.41484 -737.94906 457.55109 -737.45703 453.77344 C -737.33402 452.82902 -737.24032 451.8902 -737.17188 450.95703 C -737.03498 449.0907 -737.00428 447.24614 -737.06836 445.42969 C -737.09105 444.78659 -737.13962 444.15192 -737.18555 443.51562 z' fill='%23dec9ca' stroke='%23483941' stroke-width='4' vector-effect='non-scaling-stroke' paint-order='stroke fill' stroke-linejoin='round' stroke-linecap='round' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --wing-R: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-10 -10 228.371 173.981' width='228.371' height='173.981' shape-rendering='geometricPrecision'%3E%3Cg%3E%3Cg transform='translate(794.961 -411.729)'%3E%3Cpath d='M -734.00586 415.74023 C -742.94891 415.55826 -751.80398 417.69266 -759.74023 421.91016 L -767.83008 426.21094 L -767.82031 426.2207 C -768.54031 426.3907 -768.65945 427.49992 -767.93945 427.66992 C -765.64945 428.18992 -763.47063 428.40023 -761.39062 428.49023 C -752.49063 428.89023 -745.13961 435.77992 -744.59961 444.66992 C -742.00961 486.90992 -790.96094 501.81055 -790.96094 501.81055 L -787.2793 514.96094 C -765.1393 509.62094 -746.38078 518.67984 -746.05078 518.83984 C -719.66078 536.85984 -710.50977 561.71094 -710.50977 561.71094 C -724.12977 453.51094 -648.73047 502.15039 -648.73047 502.15039 C -666.47047 445.75039 -590.58984 472.36914 -590.58984 472.36914 C -593.96984 470.16914 -597.30914 468.05953 -600.61914 466.01953 C -638.18852 447.58641 -670.80423 436.86737 -696.44727 430.64258 C -701.87648 429.32465 -706.96884 428.22094 -711.75391 427.27539 C -706.97078 428.21991 -701.87434 429.32594 -696.44727 430.64258 C -670.8029 436.86403 -638.18522 447.57792 -600.60938 466.01953 C -655.53937 424.73953 -704.72992 418.38094 -730.16992 415.96094 C -731.44867 415.83969 -732.72828 415.76623 -734.00586 415.74023 z M -742.49805 422.7793 C -739.62292 423.03162 -736.3527 423.37786 -732.73828 423.83789 C -736.35147 423.37786 -739.62332 423.03145 -742.49805 422.7793 z M -742.64062 422.82031 C -741.95933 424.32756 -741.31905 425.87654 -740.73438 427.46289 C -741.31944 425.87673 -741.95865 424.32764 -742.64062 422.82031 z M -737.18555 443.51562 C -737.13953 444.15198 -737.09115 444.78654 -737.06836 445.42969 C -737.00398 447.24655 -737.03534 449.09041 -737.17188 450.95703 C -737.24015 451.89039 -737.3342 452.82888 -737.45703 453.77344 C -737.94872 457.55437 -738.88767 461.42234 -740.36914 465.34961 C -740.90911 466.7814 -741.4842 468.14876 -742.07422 469.48633 C -741.49363 468.12352 -740.90776 466.76848 -740.36914 465.33984 C -738.88914 461.41484 -737.94906 457.55109 -737.45703 453.77344 C -737.33402 452.82902 -737.24032 451.8902 -737.17188 450.95703 C -737.03498 449.0907 -737.00428 447.24614 -737.06836 445.42969 C -737.09105 444.78659 -737.13962 444.15192 -737.18555 443.51562 z' fill='%23dec9ca' stroke='%23483941' stroke-width='4' vector-effect='non-scaling-stroke' paint-order='stroke fill' stroke-linejoin='round' stroke-linecap='round' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --shadow: inset 0 0 0 4px #eae2e2, inset 0 0 0 5px #d7c7c8;
    --text: #5a474f;
}


/* =============================================
    design
============================================= */
.chat_box {
    position: relative;
    width: fit-content;
    max-width: calc(100% - 100px);
    min-width: 50px;
}


.chat_box.chat:not(.streamer)::after {
    content: "";
    position: absolute;
}

.chat_box.chat:not(.streamer)::after,
.chat_box.chat.subscribe::after {
    width: 30px;
    height: 32px;
    top: -15px;
    background: var(--char);
    background-position: center;
    background-size: 108%;
    background-repeat: no-repeat;
}

.chat_box.chat:not(.streamer)::after {
    left: 25px;
    right: auto;
}

.chat_box.chat.subscribe::after{
    right: 25px;
    left: auto;
}

.chat_box .inner_box {
    position: relative;
    background: #ffffff;
    border: var(--border);
    padding: 14px 35px;
    border-radius: 999vh;
    box-shadow: var(--shadow);
}

.chat_box .inner_box::before, .chat_box .inner_box::after {
    content: "";
    position: absolute;
    width: 49px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 109.6% auto;
}

.chat_box .inner_box::before {
    background-image: var(--wing-R);
    right: -50px;
}

.chat_box .inner_box::after {
    background-image: var(--wing-L);
    left: -50px;
}

/* =============================================
    streamer
============================================= */
.chat_box.chat.streamer {
    --wing-L: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-10 -10 228.371 173.981' width='228.371' height='173.981' shape-rendering='geometricPrecision'%3E%3Cg transform='translate(208.371 0) scale(-1 1)'%3E%3Cg transform='translate(794.961 -411.729)'%3E%3Cpath d='M -734.00586 415.74023 C -742.94891 415.55826 -751.80398 417.69266 -759.74023 421.91016 L -767.83008 426.21094 L -767.82031 426.2207 C -768.54031 426.3907 -768.65945 427.49992 -767.93945 427.66992 C -765.64945 428.18992 -763.47063 428.40023 -761.39062 428.49023 C -752.49063 428.89023 -745.13961 435.77992 -744.59961 444.66992 C -742.00961 486.90992 -790.96094 501.81055 -790.96094 501.81055 L -787.2793 514.96094 C -765.1393 509.62094 -746.38078 518.67984 -746.05078 518.83984 C -719.66078 536.85984 -710.50977 561.71094 -710.50977 561.71094 C -724.12977 453.51094 -648.73047 502.15039 -648.73047 502.15039 C -666.47047 445.75039 -590.58984 472.36914 -590.58984 472.36914 C -593.96984 470.16914 -597.30914 468.05953 -600.61914 466.01953 C -638.18852 447.58641 -670.80423 436.86737 -696.44727 430.64258 C -701.87648 429.32465 -706.96884 428.22094 -711.75391 427.27539 C -706.97078 428.21991 -701.87434 429.32594 -696.44727 430.64258 C -670.8029 436.86403 -638.18522 447.57792 -600.60938 466.01953 C -655.53937 424.73953 -704.72992 418.38094 -730.16992 415.96094 C -731.44867 415.83969 -732.72828 415.76623 -734.00586 415.74023 z M -742.49805 422.7793 C -739.62292 423.03162 -736.3527 423.37786 -732.73828 423.83789 C -736.35147 423.37786 -739.62332 423.03145 -742.49805 422.7793 z M -742.64062 422.82031 C -741.95933 424.32756 -741.31905 425.87654 -740.73438 427.46289 C -741.31944 425.87673 -741.95865 424.32764 -742.64062 422.82031 z M -737.18555 443.51562 C -737.13953 444.15198 -737.09115 444.78654 -737.06836 445.42969 C -737.00398 447.24655 -737.03534 449.09041 -737.17188 450.95703 C -737.24015 451.89039 -737.3342 452.82888 -737.45703 453.77344 C -737.94872 457.55437 -738.88767 461.42234 -740.36914 465.34961 C -740.90911 466.7814 -741.4842 468.14876 -742.07422 469.48633 C -741.49363 468.12352 -740.90776 466.76848 -740.36914 465.33984 C -738.88914 461.41484 -737.94906 457.55109 -737.45703 453.77344 C -737.33402 452.82902 -737.24032 451.8902 -737.17188 450.95703 C -737.03498 449.0907 -737.00428 447.24614 -737.06836 445.42969 C -737.09105 444.78659 -737.13962 444.15192 -737.18555 443.51562 z' fill='%23ffb8c6' stroke='%23483941' stroke-width='4' vector-effect='non-scaling-stroke' paint-order='stroke fill' stroke-linejoin='round' stroke-linecap='round' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --wing-R: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-10 -10 228.371 173.981' width='228.371' height='173.981' shape-rendering='geometricPrecision'%3E%3Cg%3E%3Cg transform='translate(794.961 -411.729)'%3E%3Cpath d='M -734.00586 415.74023 C -742.94891 415.55826 -751.80398 417.69266 -759.74023 421.91016 L -767.83008 426.21094 L -767.82031 426.2207 C -768.54031 426.3907 -768.65945 427.49992 -767.93945 427.66992 C -765.64945 428.18992 -763.47063 428.40023 -761.39062 428.49023 C -752.49063 428.89023 -745.13961 435.77992 -744.59961 444.66992 C -742.00961 486.90992 -790.96094 501.81055 -790.96094 501.81055 L -787.2793 514.96094 C -765.1393 509.62094 -746.38078 518.67984 -746.05078 518.83984 C -719.66078 536.85984 -710.50977 561.71094 -710.50977 561.71094 C -724.12977 453.51094 -648.73047 502.15039 -648.73047 502.15039 C -666.47047 445.75039 -590.58984 472.36914 -590.58984 472.36914 C -593.96984 470.16914 -597.30914 468.05953 -600.61914 466.01953 C -638.18852 447.58641 -670.80423 436.86737 -696.44727 430.64258 C -701.87648 429.32465 -706.96884 428.22094 -711.75391 427.27539 C -706.97078 428.21991 -701.87434 429.32594 -696.44727 430.64258 C -670.8029 436.86403 -638.18522 447.57792 -600.60938 466.01953 C -655.53937 424.73953 -704.72992 418.38094 -730.16992 415.96094 C -731.44867 415.83969 -732.72828 415.76623 -734.00586 415.74023 z M -742.49805 422.7793 C -739.62292 423.03162 -736.3527 423.37786 -732.73828 423.83789 C -736.35147 423.37786 -739.62332 423.03145 -742.49805 422.7793 z M -742.64062 422.82031 C -741.95933 424.32756 -741.31905 425.87654 -740.73438 427.46289 C -741.31944 425.87673 -741.95865 424.32764 -742.64062 422.82031 z M -737.18555 443.51562 C -737.13953 444.15198 -737.09115 444.78654 -737.06836 445.42969 C -737.00398 447.24655 -737.03534 449.09041 -737.17188 450.95703 C -737.24015 451.89039 -737.3342 452.82888 -737.45703 453.77344 C -737.94872 457.55437 -738.88767 461.42234 -740.36914 465.34961 C -740.90911 466.7814 -741.4842 468.14876 -742.07422 469.48633 C -741.49363 468.12352 -740.90776 466.76848 -740.36914 465.33984 C -738.88914 461.41484 -737.94906 457.55109 -737.45703 453.77344 C -737.33402 452.82902 -737.24032 451.8902 -737.17188 450.95703 C -737.03498 449.0907 -737.00428 447.24614 -737.06836 445.42969 C -737.09105 444.78659 -737.13962 444.15192 -737.18555 443.51562 z' fill='%23ffb8c6' stroke='%23483941' stroke-width='4' vector-effect='non-scaling-stroke' paint-order='stroke fill' stroke-linejoin='round' stroke-linecap='round' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --shadow: inset 0 0 0 4px #ffccd6, inset 0 0 0 5px #f7b6c3;
    --text: #e57d91;
}

/* =============================================
    subscribe
============================================s= */
.chat_box.chat.subscribe {
    --wing-L: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-10 -10 228.371 173.981' width='228.371' height='173.981' shape-rendering='geometricPrecision'%3E%3Cg transform='translate(208.371 0) scale(-1 1)'%3E%3Cg transform='translate(794.961 -411.729)'%3E%3Cpath d='M -734.00586 415.74023 C -742.94891 415.55826 -751.80398 417.69266 -759.74023 421.91016 L -767.83008 426.21094 L -767.82031 426.2207 C -768.54031 426.3907 -768.65945 427.49992 -767.93945 427.66992 C -765.64945 428.18992 -763.47063 428.40023 -761.39062 428.49023 C -752.49063 428.89023 -745.13961 435.77992 -744.59961 444.66992 C -742.00961 486.90992 -790.96094 501.81055 -790.96094 501.81055 L -787.2793 514.96094 C -765.1393 509.62094 -746.38078 518.67984 -746.05078 518.83984 C -719.66078 536.85984 -710.50977 561.71094 -710.50977 561.71094 C -724.12977 453.51094 -648.73047 502.15039 -648.73047 502.15039 C -666.47047 445.75039 -590.58984 472.36914 -590.58984 472.36914 C -593.96984 470.16914 -597.30914 468.05953 -600.61914 466.01953 C -638.18852 447.58641 -670.80423 436.86737 -696.44727 430.64258 C -701.87648 429.32465 -706.96884 428.22094 -711.75391 427.27539 C -706.97078 428.21991 -701.87434 429.32594 -696.44727 430.64258 C -670.8029 436.86403 -638.18522 447.57792 -600.60938 466.01953 C -655.53937 424.73953 -704.72992 418.38094 -730.16992 415.96094 C -731.44867 415.83969 -732.72828 415.76623 -734.00586 415.74023 z M -742.49805 422.7793 C -739.62292 423.03162 -736.3527 423.37786 -732.73828 423.83789 C -736.35147 423.37786 -739.62332 423.03145 -742.49805 422.7793 z M -742.64062 422.82031 C -741.95933 424.32756 -741.31905 425.87654 -740.73438 427.46289 C -741.31944 425.87673 -741.95865 424.32764 -742.64062 422.82031 z M -737.18555 443.51562 C -737.13953 444.15198 -737.09115 444.78654 -737.06836 445.42969 C -737.00398 447.24655 -737.03534 449.09041 -737.17188 450.95703 C -737.24015 451.89039 -737.3342 452.82888 -737.45703 453.77344 C -737.94872 457.55437 -738.88767 461.42234 -740.36914 465.34961 C -740.90911 466.7814 -741.4842 468.14876 -742.07422 469.48633 C -741.49363 468.12352 -740.90776 466.76848 -740.36914 465.33984 C -738.88914 461.41484 -737.94906 457.55109 -737.45703 453.77344 C -737.33402 452.82902 -737.24032 451.8902 -737.17188 450.95703 C -737.03498 449.0907 -737.00428 447.24614 -737.06836 445.42969 C -737.09105 444.78659 -737.13962 444.15192 -737.18555 443.51562 z' fill='%23ffb8c6' stroke='%23483941' stroke-width='4' vector-effect='non-scaling-stroke' paint-order='stroke fill' stroke-linejoin='round' stroke-linecap='round' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --wing-R: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-10 -10 228.371 173.981' width='228.371' height='173.981' shape-rendering='geometricPrecision'%3E%3Cg%3E%3Cg transform='translate(794.961 -411.729)'%3E%3Cpath d='M -734.00586 415.74023 C -742.94891 415.55826 -751.80398 417.69266 -759.74023 421.91016 L -767.83008 426.21094 L -767.82031 426.2207 C -768.54031 426.3907 -768.65945 427.49992 -767.93945 427.66992 C -765.64945 428.18992 -763.47063 428.40023 -761.39062 428.49023 C -752.49063 428.89023 -745.13961 435.77992 -744.59961 444.66992 C -742.00961 486.90992 -790.96094 501.81055 -790.96094 501.81055 L -787.2793 514.96094 C -765.1393 509.62094 -746.38078 518.67984 -746.05078 518.83984 C -719.66078 536.85984 -710.50977 561.71094 -710.50977 561.71094 C -724.12977 453.51094 -648.73047 502.15039 -648.73047 502.15039 C -666.47047 445.75039 -590.58984 472.36914 -590.58984 472.36914 C -593.96984 470.16914 -597.30914 468.05953 -600.61914 466.01953 C -638.18852 447.58641 -670.80423 436.86737 -696.44727 430.64258 C -701.87648 429.32465 -706.96884 428.22094 -711.75391 427.27539 C -706.97078 428.21991 -701.87434 429.32594 -696.44727 430.64258 C -670.8029 436.86403 -638.18522 447.57792 -600.60938 466.01953 C -655.53937 424.73953 -704.72992 418.38094 -730.16992 415.96094 C -731.44867 415.83969 -732.72828 415.76623 -734.00586 415.74023 z M -742.49805 422.7793 C -739.62292 423.03162 -736.3527 423.37786 -732.73828 423.83789 C -736.35147 423.37786 -739.62332 423.03145 -742.49805 422.7793 z M -742.64062 422.82031 C -741.95933 424.32756 -741.31905 425.87654 -740.73438 427.46289 C -741.31944 425.87673 -741.95865 424.32764 -742.64062 422.82031 z M -737.18555 443.51562 C -737.13953 444.15198 -737.09115 444.78654 -737.06836 445.42969 C -737.00398 447.24655 -737.03534 449.09041 -737.17188 450.95703 C -737.24015 451.89039 -737.3342 452.82888 -737.45703 453.77344 C -737.94872 457.55437 -738.88767 461.42234 -740.36914 465.34961 C -740.90911 466.7814 -741.4842 468.14876 -742.07422 469.48633 C -741.49363 468.12352 -740.90776 466.76848 -740.36914 465.33984 C -738.88914 461.41484 -737.94906 457.55109 -737.45703 453.77344 C -737.33402 452.82902 -737.24032 451.8902 -737.17188 450.95703 C -737.03498 449.0907 -737.00428 447.24614 -737.06836 445.42969 C -737.09105 444.78659 -737.13962 444.15192 -737.18555 443.51562 z' fill='%23ffb8c6' stroke='%23483941' stroke-width='4' vector-effect='non-scaling-stroke' paint-order='stroke fill' stroke-linejoin='round' stroke-linecap='round' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --shadow: inset 0 0 0 4px #ffccd6, inset 0 0 0 5px #ed9dad;
    --text: #5a474f;
}

/* =============================================
    donation
============================================= */
.chat_box.image:not(.subscribe) {
    --wing-L: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-10 -10 228.371 173.981' width='228.371' height='173.981' shape-rendering='geometricPrecision'%3E%3Cg transform='translate(208.371 0) scale(-1 1)'%3E%3Cg transform='translate(794.961 -411.729)'%3E%3Cpath d='M -734.00586 415.74023 C -742.94891 415.55826 -751.80398 417.69266 -759.74023 421.91016 L -767.83008 426.21094 L -767.82031 426.2207 C -768.54031 426.3907 -768.65945 427.49992 -767.93945 427.66992 C -765.64945 428.18992 -763.47063 428.40023 -761.39062 428.49023 C -752.49063 428.89023 -745.13961 435.77992 -744.59961 444.66992 C -742.00961 486.90992 -790.96094 501.81055 -790.96094 501.81055 L -787.2793 514.96094 C -765.1393 509.62094 -746.38078 518.67984 -746.05078 518.83984 C -719.66078 536.85984 -710.50977 561.71094 -710.50977 561.71094 C -724.12977 453.51094 -648.73047 502.15039 -648.73047 502.15039 C -666.47047 445.75039 -590.58984 472.36914 -590.58984 472.36914 C -593.96984 470.16914 -597.30914 468.05953 -600.61914 466.01953 C -638.18852 447.58641 -670.80423 436.86737 -696.44727 430.64258 C -701.87648 429.32465 -706.96884 428.22094 -711.75391 427.27539 C -706.97078 428.21991 -701.87434 429.32594 -696.44727 430.64258 C -670.8029 436.86403 -638.18522 447.57792 -600.60938 466.01953 C -655.53937 424.73953 -704.72992 418.38094 -730.16992 415.96094 C -731.44867 415.83969 -732.72828 415.76623 -734.00586 415.74023 z M -742.49805 422.7793 C -739.62292 423.03162 -736.3527 423.37786 -732.73828 423.83789 C -736.35147 423.37786 -739.62332 423.03145 -742.49805 422.7793 z M -742.64062 422.82031 C -741.95933 424.32756 -741.31905 425.87654 -740.73438 427.46289 C -741.31944 425.87673 -741.95865 424.32764 -742.64062 422.82031 z M -737.18555 443.51562 C -737.13953 444.15198 -737.09115 444.78654 -737.06836 445.42969 C -737.00398 447.24655 -737.03534 449.09041 -737.17188 450.95703 C -737.24015 451.89039 -737.3342 452.82888 -737.45703 453.77344 C -737.94872 457.55437 -738.88767 461.42234 -740.36914 465.34961 C -740.90911 466.7814 -741.4842 468.14876 -742.07422 469.48633 C -741.49363 468.12352 -740.90776 466.76848 -740.36914 465.33984 C -738.88914 461.41484 -737.94906 457.55109 -737.45703 453.77344 C -737.33402 452.82902 -737.24032 451.8902 -737.17188 450.95703 C -737.03498 449.0907 -737.00428 447.24614 -737.06836 445.42969 C -737.09105 444.78659 -737.13962 444.15192 -737.18555 443.51562 z' fill='%23dec9ca' stroke='%23483941' stroke-width='4' vector-effect='non-scaling-stroke' paint-order='stroke fill' stroke-linejoin='round' stroke-linecap='round' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --wing-R: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-10 -10 228.371 173.981' width='228.371' height='173.981' shape-rendering='geometricPrecision'%3E%3Cg%3E%3Cg transform='translate(794.961 -411.729)'%3E%3Cpath d='M -734.00586 415.74023 C -742.94891 415.55826 -751.80398 417.69266 -759.74023 421.91016 L -767.83008 426.21094 L -767.82031 426.2207 C -768.54031 426.3907 -768.65945 427.49992 -767.93945 427.66992 C -765.64945 428.18992 -763.47063 428.40023 -761.39062 428.49023 C -752.49063 428.89023 -745.13961 435.77992 -744.59961 444.66992 C -742.00961 486.90992 -790.96094 501.81055 -790.96094 501.81055 L -787.2793 514.96094 C -765.1393 509.62094 -746.38078 518.67984 -746.05078 518.83984 C -719.66078 536.85984 -710.50977 561.71094 -710.50977 561.71094 C -724.12977 453.51094 -648.73047 502.15039 -648.73047 502.15039 C -666.47047 445.75039 -590.58984 472.36914 -590.58984 472.36914 C -593.96984 470.16914 -597.30914 468.05953 -600.61914 466.01953 C -638.18852 447.58641 -670.80423 436.86737 -696.44727 430.64258 C -701.87648 429.32465 -706.96884 428.22094 -711.75391 427.27539 C -706.97078 428.21991 -701.87434 429.32594 -696.44727 430.64258 C -670.8029 436.86403 -638.18522 447.57792 -600.60938 466.01953 C -655.53937 424.73953 -704.72992 418.38094 -730.16992 415.96094 C -731.44867 415.83969 -732.72828 415.76623 -734.00586 415.74023 z M -742.49805 422.7793 C -739.62292 423.03162 -736.3527 423.37786 -732.73828 423.83789 C -736.35147 423.37786 -739.62332 423.03145 -742.49805 422.7793 z M -742.64062 422.82031 C -741.95933 424.32756 -741.31905 425.87654 -740.73438 427.46289 C -741.31944 425.87673 -741.95865 424.32764 -742.64062 422.82031 z M -737.18555 443.51562 C -737.13953 444.15198 -737.09115 444.78654 -737.06836 445.42969 C -737.00398 447.24655 -737.03534 449.09041 -737.17188 450.95703 C -737.24015 451.89039 -737.3342 452.82888 -737.45703 453.77344 C -737.94872 457.55437 -738.88767 461.42234 -740.36914 465.34961 C -740.90911 466.7814 -741.4842 468.14876 -742.07422 469.48633 C -741.49363 468.12352 -740.90776 466.76848 -740.36914 465.33984 C -738.88914 461.41484 -737.94906 457.55109 -737.45703 453.77344 C -737.33402 452.82902 -737.24032 451.8902 -737.17188 450.95703 C -737.03498 449.0907 -737.00428 447.24614 -737.06836 445.42969 C -737.09105 444.78659 -737.13962 444.15192 -737.18555 443.51562 z' fill='%23dec9ca' stroke='%23483941' stroke-width='4' vector-effect='non-scaling-stroke' paint-order='stroke fill' stroke-linejoin='round' stroke-linecap='round' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --shadow: inset 0 0 0 4px #eae2e2, inset 0 0 0 5px #d7c7c8;
    --text: #5a474f;
    --valB: 2px solid #68525e;
    --valC: #483941;
}

.chat_box.image {
    --weflab-font-size: 1em;
    width: calc(100% - 150px) !important;
    max-width: calc(100% - 150px) !important;
    min-width: calc(100% - 150px) !important;
}

.chat_box.image .inner_box {
    border-radius: 20px !important;
}

.chat_box.image:not(.subscribe) .inner_box .donation_box .msg_box .val {
    border: var(--valB) !important;
    background: var(--valC) !important;
    border-radius: 999vh !important;
    padding: 2px 10px !important;
    color: #fff !important;
    font-size: calc(var(--weflab-font-size) - 5px) !important;
    font-weight: 400 !important;
    margin-bottom: 10px !important;
}

.chat_box.image:not(.subscribe) .inner_box .donation_box .msg_box .val::after {
    content: " 치즈";
}

.chat_box.image:not(.subscribe) .inner_box .donation_box .text_box .msg {
    font-size: 1em !important;
}

/* =============================================
    donation - subscribe
============================================= */
.chat_box.image.subscribe {
    --wing-L: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-10 -10 228.371 173.981' width='228.371' height='173.981' shape-rendering='geometricPrecision'%3E%3Cg transform='translate(208.371 0) scale(-1 1)'%3E%3Cg transform='translate(794.961 -411.729)'%3E%3Cpath d='M -734.00586 415.74023 C -742.94891 415.55826 -751.80398 417.69266 -759.74023 421.91016 L -767.83008 426.21094 L -767.82031 426.2207 C -768.54031 426.3907 -768.65945 427.49992 -767.93945 427.66992 C -765.64945 428.18992 -763.47063 428.40023 -761.39062 428.49023 C -752.49063 428.89023 -745.13961 435.77992 -744.59961 444.66992 C -742.00961 486.90992 -790.96094 501.81055 -790.96094 501.81055 L -787.2793 514.96094 C -765.1393 509.62094 -746.38078 518.67984 -746.05078 518.83984 C -719.66078 536.85984 -710.50977 561.71094 -710.50977 561.71094 C -724.12977 453.51094 -648.73047 502.15039 -648.73047 502.15039 C -666.47047 445.75039 -590.58984 472.36914 -590.58984 472.36914 C -593.96984 470.16914 -597.30914 468.05953 -600.61914 466.01953 C -638.18852 447.58641 -670.80423 436.86737 -696.44727 430.64258 C -701.87648 429.32465 -706.96884 428.22094 -711.75391 427.27539 C -706.97078 428.21991 -701.87434 429.32594 -696.44727 430.64258 C -670.8029 436.86403 -638.18522 447.57792 -600.60938 466.01953 C -655.53937 424.73953 -704.72992 418.38094 -730.16992 415.96094 C -731.44867 415.83969 -732.72828 415.76623 -734.00586 415.74023 z M -742.49805 422.7793 C -739.62292 423.03162 -736.3527 423.37786 -732.73828 423.83789 C -736.35147 423.37786 -739.62332 423.03145 -742.49805 422.7793 z M -742.64062 422.82031 C -741.95933 424.32756 -741.31905 425.87654 -740.73438 427.46289 C -741.31944 425.87673 -741.95865 424.32764 -742.64062 422.82031 z M -737.18555 443.51562 C -737.13953 444.15198 -737.09115 444.78654 -737.06836 445.42969 C -737.00398 447.24655 -737.03534 449.09041 -737.17188 450.95703 C -737.24015 451.89039 -737.3342 452.82888 -737.45703 453.77344 C -737.94872 457.55437 -738.88767 461.42234 -740.36914 465.34961 C -740.90911 466.7814 -741.4842 468.14876 -742.07422 469.48633 C -741.49363 468.12352 -740.90776 466.76848 -740.36914 465.33984 C -738.88914 461.41484 -737.94906 457.55109 -737.45703 453.77344 C -737.33402 452.82902 -737.24032 451.8902 -737.17188 450.95703 C -737.03498 449.0907 -737.00428 447.24614 -737.06836 445.42969 C -737.09105 444.78659 -737.13962 444.15192 -737.18555 443.51562 z' fill='%23ffb8c6' stroke='%23483941' stroke-width='4' vector-effect='non-scaling-stroke' paint-order='stroke fill' stroke-linejoin='round' stroke-linecap='round' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --wing-R: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-10 -10 228.371 173.981' width='228.371' height='173.981' shape-rendering='geometricPrecision'%3E%3Cg%3E%3Cg transform='translate(794.961 -411.729)'%3E%3Cpath d='M -734.00586 415.74023 C -742.94891 415.55826 -751.80398 417.69266 -759.74023 421.91016 L -767.83008 426.21094 L -767.82031 426.2207 C -768.54031 426.3907 -768.65945 427.49992 -767.93945 427.66992 C -765.64945 428.18992 -763.47063 428.40023 -761.39062 428.49023 C -752.49063 428.89023 -745.13961 435.77992 -744.59961 444.66992 C -742.00961 486.90992 -790.96094 501.81055 -790.96094 501.81055 L -787.2793 514.96094 C -765.1393 509.62094 -746.38078 518.67984 -746.05078 518.83984 C -719.66078 536.85984 -710.50977 561.71094 -710.50977 561.71094 C -724.12977 453.51094 -648.73047 502.15039 -648.73047 502.15039 C -666.47047 445.75039 -590.58984 472.36914 -590.58984 472.36914 C -593.96984 470.16914 -597.30914 468.05953 -600.61914 466.01953 C -638.18852 447.58641 -670.80423 436.86737 -696.44727 430.64258 C -701.87648 429.32465 -706.96884 428.22094 -711.75391 427.27539 C -706.97078 428.21991 -701.87434 429.32594 -696.44727 430.64258 C -670.8029 436.86403 -638.18522 447.57792 -600.60938 466.01953 C -655.53937 424.73953 -704.72992 418.38094 -730.16992 415.96094 C -731.44867 415.83969 -732.72828 415.76623 -734.00586 415.74023 z M -742.49805 422.7793 C -739.62292 423.03162 -736.3527 423.37786 -732.73828 423.83789 C -736.35147 423.37786 -739.62332 423.03145 -742.49805 422.7793 z M -742.64062 422.82031 C -741.95933 424.32756 -741.31905 425.87654 -740.73438 427.46289 C -741.31944 425.87673 -741.95865 424.32764 -742.64062 422.82031 z M -737.18555 443.51562 C -737.13953 444.15198 -737.09115 444.78654 -737.06836 445.42969 C -737.00398 447.24655 -737.03534 449.09041 -737.17188 450.95703 C -737.24015 451.89039 -737.3342 452.82888 -737.45703 453.77344 C -737.94872 457.55437 -738.88767 461.42234 -740.36914 465.34961 C -740.90911 466.7814 -741.4842 468.14876 -742.07422 469.48633 C -741.49363 468.12352 -740.90776 466.76848 -740.36914 465.33984 C -738.88914 461.41484 -737.94906 457.55109 -737.45703 453.77344 C -737.33402 452.82902 -737.24032 451.8902 -737.17188 450.95703 C -737.03498 449.0907 -737.00428 447.24614 -737.06836 445.42969 C -737.09105 444.78659 -737.13962 444.15192 -737.18555 443.51562 z' fill='%23ffb8c6' stroke='%23483941' stroke-width='4' vector-effect='non-scaling-stroke' paint-order='stroke fill' stroke-linejoin='round' stroke-linecap='round' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --shadow: inset 0 0 0 4px #ffccd6, inset 0 0 0 5px #f7b6c3;
    --text: #e57d91;
    --valB: 2px solid #f6adbb;
    --valC: #ed9dad;
}

.chat_box.image.subscribe .inner_box .donation_box {
    overflow: visible !important;
}

.chat_box.image.subscribe .inner_box .donation_box .text_box .msg {
    font-size: 0 !important;
    margin-bottom: 10px !important;
    overflow: visible !important;
}

.chat_box.image.subscribe .inner_box .donation_box .text_box .msg .val {
    border: var(--valB) !important;
    background: var(--valC) !important;
    border-radius: 999vh !important;
    padding: 2px 10px !important;
    color: #fff !important;
    font-size: calc(var(--weflab-font-size) - 5px) !important;
    font-weight: 400 !important;
}

.chat_box.image .inner_box .donation_box .msg_box .msg {
    font-size: 1em !important;
}

/* =============================================
    keyframes
============================================= */
@keyframes chatPrevTailA {
    0% {
        transform: translateY(8.5px);
    }

    11% {
        transform: translateY(5px);
    }

    22% {
        transform: translateY(3.5px);
    }

    33% {
        transform: translateY(2.5px);
    }

    44% {
        transform: translateY(1.5px);
    }

    55% {
        transform: translateY(1px);
    }

    67% {
        transform: translateY(1px);
    }

    78% {
        transform: translateY(.5px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes chatPrevTailB {
    0% {
        transform: translateY(8.5px);
    }

    11% {
        transform: translateY(5px);
    }

    22% {
        transform: translateY(3.5px);
    }

    33% {
        transform: translateY(2.5px);
    }

    44% {
        transform: translateY(1.5px);
    }

    55% {
        transform: translateY(1px);
    }

    67% {
        transform: translateY(1px);
    }

    78% {
        transform: translateY(.5px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes chatEnter {
    0% {
        opacity: 0;
        transform: translateY(18px);
    }

    10% {
        opacity: .32;
        transform: translateY(14px);
    }

    20% {
        opacity: .64;
        transform: translateY(11.5px);
    }

    30% {
        opacity: .84;
        transform: translateY(8px);
    }

    40% {
        opacity: .95;
        transform: translateY(5.5px);
    }

    50% {
        opacity: 1;
        transform: translateY(3.5px);
    }

    60% {
        opacity: 1;
        transform: translateY(2.5px);
    }

    70% {
        opacity: 1;
        transform: translateY(2px);
    }

    80% {
        opacity: 1;
        transform: translateY(1px);
    }

    90% {
        opacity: 1;
        transform: translateY(.5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes charIdle {
    0%, 100% {
        transform: translateY(0) rotate(0deg) scale(1);
    }

    50% {
        transform: translateY(-3.2px) rotate(-2.2deg) scale(1.015);
    }
}

@keyframes wingFlapRight {
    0%, 100% {
        transform: translateY(-50%) rotate(0deg) scaleY(1);
    }

    50% {
        transform: translateY(-56%) rotate(-8deg) scaleY(.94);
    }
}

@keyframes wingFlapLeft {
    0%, 100% {
        transform: translateY(-50%) rotate(0deg) scaleY(1);
    }

    50% {
        transform: translateY(-56%) rotate(8deg) scaleY(.94);
    }
}

@keyframes chatFloat {
    0%, 100% {
        translate: 0 0;
    }

    50% {
        translate: 0 -4px;
    }
}

.chat_box {
    animation: chatFloat 1.8s ease-in-out -450ms infinite;
    will-change: translate;
}

.chat_list:has(> .chat_box:last-child:nth-child(odd)) > .chat_box:not(:last-child) {
    animation: chatPrevTailA 300ms linear both, chatFloat 1.8s ease-in-out -450ms infinite !important;
    will-change: transform, translate;
}

.chat_list:has(> .chat_box:last-child:nth-child(even)) > .chat_box:not(:last-child) {
    animation: chatPrevTailB 300ms linear both, chatFloat 1.8s ease-in-out -450ms infinite !important;
    will-change: transform, translate;
}

.chat_list > .chat_box:last-child.animated {
    animation: chatEnter 340ms linear both, chatFloat 1.8s ease-in-out -450ms infinite !important;
    will-change: transform, opacity, translate;
}

.chat_box.chat:not(.streamer)::after,
.chat_box.chat.subscribe::after {
    animation: charIdle 4.6s ease-in-out 850ms infinite;
    transform-origin: 50% 100%;
    will-change: transform;
}

.chat_box > .inner_box::before {
    animation: wingFlapRight 1.8s ease-in-out -450ms infinite;
    transform-origin: 0% 50%;
    will-change: transform;
}

.chat_box > .inner_box::after {
    animation: wingFlapLeft 1.8s ease-in-out -450ms infinite;
    transform-origin: 100% 50%;
    will-change: transform;
}