[data-id = "슈퍼챗"], [data-id = "치즈"], [data-id = "비트"], [data-id = "별풍선"], [data-id = "젬"], [data-id = "비트"], [data-id = "빔"] {
    display: none;
}

@font-face {
    font-family: 'NexonLv2Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'NexonLv2Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NexonLv2Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

/* ============================================= 
        general
============================================= */
:root {
    --panel-pattern-25: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4' shape-rendering='crispEdges'%3E%3Cpath fill='%23fff' d='M0 0h1v1H0zM2 1h1v1H2zM1 2h1v1H1zM3 3h1v1H3z'/%3E%3C/svg%3E");
    --panel-pattern-50: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4' shape-rendering='crispEdges'%3E%3Cpath fill='%23fff' d='M0 0h1v1H0zM2 0h1v1H2zM1 1h1v1H1zM3 1h1v1H3zM0 2h1v1H0zM2 2h1v1H2zM1 3h1v1H1zM3 3h1v1H3z'/%3E%3C/svg%3E");
    --panel-pattern-75: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4' shape-rendering='crispEdges'%3E%3Cpath fill='%23fff' d='M0 0h1v1H0zM1 0h1v1H1zM2 0h1v1H2zM0 1h1v1H0zM1 1h1v1H1zM3 1h1v1H3zM0 2h1v1H0zM2 2h1v1H2zM3 2h1v1H3zM1 3h1v1H1zM2 3h1v1H2zM3 3h1v1H3z'/%3E%3C/svg%3E");
    --panel-pattern: var(--panel-pattern-50);
}

html,
body,
#root,
.chat_area {
    background: transparent !important;
    background-color: transparent !important;
}

html {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
}

p {
    color: var(--text) !important;
    position: relative;
    margin: 0 !important;
    line-height: 1.2 !important;
    z-index: 999;
    text-shadow: none !important;
    font-family: 'NexonLv2Gothic', Courier, monospace !important;
    font-weight: 700 !important;
    font-size: 22px !important;
    letter-spacing: -0.8px !important;
    text-align: center !important;
}

.chat_area {
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(0.9, #000), to(transparent));
}

.chat_box {
    margin: 0 auto !important;
    margin-bottom: 15px !important;
}

.chat_box.chat,
.chat_box.chat > .inner_box {
    background: transparent !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.chat_box.chat * {
    box-sizing: border-box !important;
}

.icon_badge {
    display: none !important;
}

* .nick {
    display: none;
}

/* ============================================= 
        donation reset
============================================= */
.chat_box.image,
.chat_box.image .inner_box,
.chat_box.image .donation_box,
.chat_box.image .text_box,
.chat_box.image .msg_box,
.chat_box.image .nick,
.chat_box.image .msg,
.chat_box.image .val {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent !important;
    box-shadow: none;
}

.chat_box.image,
.chat_box.image .inner_box,
.chat_box.image .donation_box,
.chat_box.image .text_box,
.chat_box.image .msg_box {
    overflow: visible;
}

.chat_box.image .donation_box::before,
.chat_box.image .donation_box::after,
.chat_box.image .donation_box.subscribe::before {
    content: none;
}

.chat_box.image .donation_box.subscribe::before {
    display: none !important;
}

/* =========================================
        display order
========================================= */
.chat_box.image .donation_box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat_box.image .text_box,
.chat_box.image .msg_box {
    display: contents;
}

.chat_box.image .nick {
    order: 10;
}

.chat_box.image .msg_box > .val {
    order: 20;
}

.chat_box.image .text_box > .msg {
    order: 30;
}

.chat_box.image .donation_box.subscribe .text_box > .msg {
    order: 20;
}

.chat_box.image .donation_box.subscribe .msg_box > .msg {
    order: 30;
}

/* ============================================= 
        tokens
============================================= */
.chat_box.chat:not(.streamer):not(.subscribe) {
    --text: #4a4af9;
    --img: url(https://lh3.googleusercontent.com/d/1Vzq8027WYd1neOxDdxeU11CU4mMmA2Qx);
}

/* ============================================= 
        design
============================================= */
.chat_box {
    position: relative;
    width: fit-content;
}

.chat_box .inner_box {
    position: relative;
    isolation: isolate;
    padding: 20px 55px;
    border-top: 3px solid var(--text);
    border-bottom: 3px solid var(--text);
    border-left: 1px solid var(--text);
    border-right: 1px solid var(--text);
    background: transparent !important;
    background-color: transparent !important;
}

.chat_box .inner_box::before {
    content: "";
    position: absolute;
    z-index: 0;
    inset: 0;

    background-color: transparent;
    background-image: var(--panel-pattern);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 4px 4px;

    pointer-events: none;
}

.chat_box .inner_box::after {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    background: var(--img), var(--img);
    background-position: left 10px center, right 10px center;
    background-repeat: no-repeat, no-repeat;
    background-size: 7px, 7px;
    pointer-events: none;
}

.chat_box .inner_box > * {
    position: relative;
    z-index: 2;
}

/* ============================================= 
        streamer
============================================= */
.chat_box.chat.streamer {
    --text: #3d6de7;
    --img: url(https://lh3.googleusercontent.com/d/1mZg1U2Jk57RXYM8m5hKgGKcxoGmWQtVB);
}

/* ============================================= 
        subscribe
============================================= */
.chat_box.chat.subscribe {
    --text: #6c6cf9;
    --img: url(https://lh3.googleusercontent.com/d/1jAzcKQEjQ_mn_RAWSYQBnRdB2A4fBipA);
}
